body {
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 0 auto;
}

label, input, button {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.startButton, .stopButton {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 48%;
    transition: background-color 0.3s;
}

.startButton:hover {
    background-color: #45a049;
}

.stopButton:hover {
    background-color: #d32f2f;
}

.startButton[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    color: black;
}

.stopButton[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    color: black;
}

.warningDiv {
    color: yellow;
    font-weight: bold;
    margin-top: 10px;
}

.logContainer {
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: scroll;
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 20px;
    padding: 10px;
}
